<h3>Most Recent Posting</h3>
<h4>
    
    {{mainPost.user.first_name}} {{mainPost.user.last_name}},
    <br>
    {{mainPost.post_title}}
    <br>
    <span class="date-posted">{{mainPost.createdAt}}</span>
</h4>
<p>
    {{mainPost.post_bio}}
</p>